In [3]:
from neo4j import GraphDatabase as GDb

class Neo4jConnection:
    """Класс описывающий взаимодействие с СУБД Neo4j"""

# Подключение к БД
    def __init__(self, uri, user, password):
        self.driver = GDb.driver(uri, auth=(user, password))

# Отключение от БД
    def close(self):
        if self.driver is not None:
            self.driver.close()

# Передача запросов в БД
    def query(self, query, db=None):
        assert self.driver is not None, "Driver not initialized!"
        session = None
        response = None
        try:
            session = self.driver.session(database=db) if db is not None else self.driver.session()
            response = list(session.run(query))
        except Exception as e:
            print("Query failed:", e)
        finally:
            if session is not None:
                session.close()
        return response

In [8]:
# Посмотрим на датасет
import pandas as pd

data = pd.read_csv('data_test.csv', sep=';')
data.head()

   id события         ФИО участника события 1          ФИО участника события 2
0         189  Галчевская Карина Владимировна  Белоновская Анастасия Семеновна
1         206         Офицеров Олег Романович        Сапожник Борис Валерьевич
2         445     Жандарова Лариса Германовна       Чемодуров Дамир Русланович
3         503          Масимова Яна Дамировна   Мингажетдинов Рамиль Семенович
4         571       Мухтарова Алена Яковлевна      Щербатенко Ольга Робертовна

In [9]:
# Создадим подключение к локальной БД
graphdb = Neo4jConnection(uri="bolt://localhost:7687", user="neo4j", password="julian123")
graphdb.query("CREATE DATABASE datatest")

# Создадим запрос на импорт данных из таблицы в БД
query = '''
LOAD CSV FROM 
'file:///data_test.csv' AS line FIELDTERMINATOR ';'
CREATE (e:Event {eventID: line[0]}),
(m1:Person {name: line[1]}),
(m2:Person {name: line[2]}),
(m1)-[:Participant]->(e),
(m2)-[:Participant]->(e)
'''
graphdb.query(query, db='datatest')

[]